body {
  background-image: url("/img/extra_clean_paper.png");
}

h1#logo {
  color: rgba(241, 196, 15,1.0);
  font-family: '.HelveticaNeueDeskInterface-Regular';
  font-size: 2.4em;
  font-weight: italic;
  display: inline-block; 
  float: left;
  margin-left: 0.1em;
}


* {
font-family: '.HelveticaNeueDeskInterface-Regular';
font-kerning: auto;
color: rgba(44, 62, 80,1.0);
font-size: 0.8em;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-variant-ligatures: normal;
font-weight: normal;
}

a {
  font-family: '.HelveticaNeueDeskInterface-Regular';
  text-decoration: underline;
  color: rgba(26, 188, 156,1.0);
}

ul#stream {
  width: 70%;
  max-width: 700px;
  background-color: rgba(236, 240, 241,1.0);
  padding: 1em;
  margin-top: 2em;
  float: right;
}

li.message {
  margin-bottom: 0.8em;
  padding: 0.5em;
  background-color: rgba(189, 195, 199,1.0);
}

li#stream-header {
  margin-bottom: 1em;
  padding: 0.3em;
  font-weight: bold;
}


div#logged-in {
  width: auto;
  display: inline;
  padding-right: 0.2em;
  float: right;
}

div#log-in {
  width: auto;
  padding-top: 0.8em;
  display: inline;
  padding-right: 0.2em;
  float: right;
}

form#sign-out {
  display: inline;
}

.btn {
  padding: 10px 15px;
  color: black;
  font-size: 15px;
  font-weight: normal;
  
  border: none;
  border-radius: 4px;
  background-color: rgba(26, 188, 156,1.0);
  cursor: pointer;
}

a.btn {
  margin-top: 0.8em;
}

a.btn.highlighted {
  background-color: rgba(241, 196, 15,1.0);
  padding: 8.8px 25px;
}

div#notice {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: rgba(26, 188, 156,1.0);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

p#alert {
  font-family: '.HelveticaNeueDeskInterface-Regular';
}

div#errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: rgba(211, 84, 0,1.0);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

header {
  top: 0;
  padding-top: 0.2em;
  width: 100%;
  background-color: black;
  color: white;
  height: 2.8em; 
}


div#links-container {
  background-color: white;
  max-width: 800px;
  width: 85%;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid rgba(236, 240, 241,1.0);
  border-radius: 6px;
}

.link {
  background-color: rgba(236, 240, 241,1.0);
  border: 2px solid rgba(236, 240, 241,1.0);
  border-radius: 6px;
  margin: 10px inherit;
  padding: 15px 10px;
}

  .link a.title {
    /* to make it slightly more prominent */
    letter-spacing: 1px;
  }

  .link .description {
    margin: 10px inherit;
  }

  .link .source {
    /* http://learnlayout.com/float.html and the next 4 sections */
    float: right;
    font-size: 12px;
  }

  fieldset {
    border-color: rgb(119, 119, 119);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: '.HelveticaNeueDeskInterface-Regular';
    letter-spacing: 0.159999996423721px;
    line-height: 1.4px;
    margin: 1em; 
    padding-bottom: 12px;
    padding-top: 5.59999990463257px;
  }
